<form action="/adauga-produs-in-BD" method="POST">
    <br>
    <label> Denumire produs: </label> <br>
    <input type="text" name="DenumireProdusDeAdaugat"> <br>

    <label> Pret produs: </label> <br>
    <input type="number" name="PretProdusDeAdaugat" min="0"><br>

    <br>
    <input type="submit" value="Adaugă produs">
</form>