<form action="/verificare-autentificare" method="POST">
    <label> Username </label>
    <input type="text"> <br><br>

    <label> Password </label>
    <input type="password"> <br><br>

    <input type="submit" value="Autentificare">
</form>