<% if (utilizator == "mesajEroare") { %>
    <h3 style="color:red"> Username or password incorrect! </h3>
<% } %>

<form action="/verificare-autentificare" method="POST">
    <label> Username </label>
    <input type="text" name="user"> <br><br>

    <label> Password </label>
    <input type="password" name="pass"> <br><br>

    <input type="submit" value="Autentificare">
</form>