<!DOCTYPE html>

<meta charset="UTF-8">
<html lang="ro-RO">
    <head>
        <title>Proiect 2</title>
    </head>

    <body>
        <header>
        </header>

        <nav>
        </nav>

        <main>
            <%- body %>
        </main>

        <footer>
        </footer>
    </body>
</html>