<!DOCTYPE html>

<meta charset="UTF-8">
<html lang="ro-RO">
    <head>
        <title>Proiect 2</title>

        <link rel="stylesheet" type="text/css" href="/css/still.css">
    </head>

    <body>
        <header>
            <img src="/imagini/logo.png" width="500px" height="200px"> <br> <br>
        </header>

        <nav>
        </nav>

        <main>
            <%- body %>
        </main>

        <footer>
            <p class="footerPositionFixed">
                &copy; Paraschiv Vlad - 1306B     
            </p>
        </footer>
    </body>
</html>