body {
    /* background-color: rgb(26,26,26); */
    background-image: url("../imagini/background5.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    
    color: black;
    text-indent: 15px;
}