body {
    /* background-color: rgb(26,26,26); */
    background-image: url("../imagini/background5.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    
    color: black;
    /* text-indent: 15px; */
}

.topRightCorner {
    position: absolute;
    top: 0;
    right: 0;
    width: 450px;
    font-weight: bold;
    font-size: 25px;
}

.footerPositionFixed {
    position: relative;
    width: 100%;
    bottom: 0;
}

table, th, td {
    border: 1px solid black;
}

/* NAV BAR */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover {
    background-color: #111;
}